<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>

<body>
    <form action="/register" method="POST">
        Username:
        <input type="text" name="username" placeholder="enter your password">
        <br/>
        Email: 
        <input type="email" name="email"  placeholder="enter your email">
        <br/>
        Password: 
        <input type="password" name="password">
        <br/>
        <input type="submit" name="Register" value="Register">
    </form>

</body>

</html>